.top-space{
  margin-top: 1rem;
  margin-left: 2rem;
}
.add-btn{
  margin-left: 2rem;
  margin-top: .3rem;
}
.icon-delete{
  background-color: red;
  color: white;
  font-size: 1.4rem;
  border-style: none;
  border-radius: 5px;
  margin-top: 1.5rem;
}
@media(max-width:690px){
  .respomsive-add-btn{
    margin-left: 3rem;
    margin-top: -3.8rem;
  }
}