.btn-section{
    display: flex;
}
@media (max-width: 700px) {
    .btn-section{
        display: block;
    }
}
.btn-style{
    position: absolute;
    right: 2rem;
}
.area {
    background-color: #00000085;
    border-radius: 5px;
}

.area:focus {
  outline: 2px solid rgb(1, 61, 16);
  background-color: white;
}
.input_field {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
}

@media (max-width: 700px) {
  .input_field {
    margin-left: .2rem;
    margin-right: .2rem;
    margin-top: .5rem;
  }
}
.background {
  background-color: #222222;
  border-radius: 15px;
  padding: 1px;
  text-align: left;
  margin-top: 10px;
  min-height: 15vh;
}
.label-style{
    font-size: .8em;
    margin-bottom: -.1em;
}
.wid{
  width: 100%;
}
select{
  background-color: #00000085;
  border-radius: 5px;
  border:none;
  height:2.3rem;
  color:white;
  width: 100%;
  border: .1px solid rgb(68, 67, 67);
}
select:focus{
  outline: 2px solid rgb(1, 61, 16);
  background-color: white;
  color: black;
}
select:hover{
  background-color: white;
  color: black;
}
input[type=text]{
  background-color: #00000085;
  border-radius: 5px;
  width: 100%;
}

input[type=text]:focus{
  outline: 2px solid rgb(1, 61, 16);
  background-color: white;
  border-radius: 5px;
  padding: 1px;
  text-align: left;
}
input[type=text]:hover{
  background-color: white;
  color: black;
}