.table{
    .cellWrapper{
        display: flex;
        align-items: center;

        img{
            width: 32px;
            height: 32px;
            border-radius: 30%;
            margin-right: 10px;
            object-fit: cover;
        }
    }

    .status{
        padding: 5px;
        border-radius: 5px;

        &.Approved{
            color: white;
            background-color: rgba($color: green, $alpha: 1);
        }
        &.Pending{
            color: goldenrod;
            background-color: rgba($color: yellow, $alpha: 1)
        }
    }
}