.background {
    background-color: #0D0D0D;
    border-radius: 15px;
    padding: 1px;
    text-align: left;
    margin-top: 10px;
    min-height: 15vh;
}
.btn-section {
    display: flex;
}
.btn-style {
    position: absolute;
    right: 2rem;
}
@media(max-width:750px) {
    .btn-section {
        display: none;
    }
}
.btn_style_active {
    background-color: #113881;
    border-radius: 8px;
    margin: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 2rem;
}
@media only screen and (max-width: 900px){
    .btn_style_active {
        background-color: #113881;
        border-radius: 8px;
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: 1rem;
    }
}

.btn_style_inactive {
    background-color: #1d2e46;
    border-radius: 8px;
    margin: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 2rem;
}

@media only screen and (max-width: 900px){ 
    .btn_style_inactive {
        background-color: #1d2e46;
        border-radius: 8px;
        border-radius: 8px;
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: 1rem;
    }
}

.text_style {
    color: white;
    text-align: center;
    font-size: 1em;
}

.icon2 {
    color: white;
    font-family: 'Times New Roman';
}
@media only screen and (max-width: 900px){
    .icon2 {
        color: white;
        padding-left: 1rem;
        font-family: 'Times New Roman';
    }
}

.profile2 {
    width: 6rem;
    border-radius: 150px;
}

.header2 {
    margin-left: 2rem;
}

.input_field {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 1rem;
}

.two_part {
    display: flex;
    gap: .4rem;
}

@media only screen and (max-width: 600px) {
    .two_part{
        display: block;
    }
    .input_field {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
    }
}

.search_box2 {
    margin-left: 3rem;
    position: absolute;
    top: 4rem;
    background-color: #000000;
    border-radius: 5px;
    height: 2.1rem;
    border: 1px solid #706e6e;
}
@media only screen and (max-width: 600px) {
    .search_box2 {
        margin-left: 8rem;
    }
}

input[type=text],
input[type=email],
input[type=date],
input[type=number],
input[type=textarea],
input[type=password] {
    background-color: #00000085;
    border-radius: 8px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=date]:focus,
input[type=number]:focus,
input[type=textarea]:focus,
input[type=password]:focus {
    outline: 2px solid rgb(1, 61, 16);
    background-color: white;
}

select {
    background-color: #00000085;
    color: #7F7F7F;
    border-radius: 5px;
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    border: .1px solid rgb(68, 67, 67);
    box-sizing: border-box;
}

select:focus {
    outline: 2px solid rgb(1, 61, 16);
    background-color: white;
    color: black;
}

.btn-style2 {
    margin-top: 2rem;
    text-align: right;
    margin-right: 4rem;
    background-color: #0D0D0D;
}
.btn-style3{
    margin-top: 2rem;
    text-align: right;
    background-color: #0D0D0D;
}

.section-02 {
    display: flex;
}

.space {
    padding-top: 2rem;
}

.label-style {
    font-size: .8em;
    margin-bottom: -.1em;
}

.icon-space{
    padding-right: .5rem;
}
.left-space{
    padding-left: 1rem;
}
.level-style{
    font-size: .9em;
    font-family: "Times New Roman";
    margin-bottom: -6px;
}
.wid{
    width: 100%;
}