.btn_style_active {
    background-color: #113881;
    border-radius: 8px;
    margin: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 2rem;
}
@media only screen and (max-width: 900px){
    .btn_style_active {
        background-color: #113881;
        border-radius: 8px;
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: 1rem;
    }
}

.btn_style_inactive {
    background-color: #1d2e46;
    border-radius: 8px;
    margin: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 2rem;
}

@media only screen and (max-width: 900px){ 
    .btn_style_inactive {
        background-color: #1d2e46;
        border-radius: 8px;
        border-radius: 8px;
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: 1rem;
    }
}

.text_style {
    color: white;
    text-align: center;
    font-size: 1em;
}

.icon2 {
    color: white;
    font-family: 'Times New Roman';
}
@media only screen and (max-width: 900px){
    .icon2 {
        color: white;
        padding-left: 1rem;
        font-family: 'Times New Roman';
    }
}

.profile2 {
    width: 6rem;
    border-radius: 150px;
}

.header2 {
    margin-left: 2rem;
}

.search_box2 {
    margin-left: 3rem;
    position: absolute;
    top: 4rem;
    background-color: #000000;
    border-radius: 5px;
    height: 2.1rem;
    border: 1px solid #706e6e;
}
@media only screen and (max-width: 600px) {
    .search_box2 {
        margin-left: 8rem;
    }
}

.btn-style2 {
    margin-top: 2rem;
    text-align: right;
    margin-right: 2rem;
    background-color: #222222;
}
.btn-style3{
    margin-top: 2rem;
    text-align: right;
    background-color: #222222;
}
.space {
    padding-top: 2rem;
}
.icon-space{
    padding-right: .5rem;
}
.left-space{
    padding-left: 1rem;
}