.btn-section{
    display: flex;
}
@media (max-width: 700px) {
    .btn-section{
        display: block;
    }
}
.btn-style{
    position: absolute;
    right: 2rem;
}
input[type=text],input[type=number]{
    background-color: #00000085;
    border-radius: 5px;
}
input[type=text]:focus, input[type=number]:focus{
    outline: 2px solid rgb(1, 61, 16);
    background-color: white;
}
select{
    background-color: #00000085;
    border-radius: 5px;
    border:none;
    height:2.3rem;
    color:white;
    width: 100%;
    border: .1px solid rgb(68, 67, 67);
}
select:focus{
    outline: 2px solid rgb(1, 61, 16);
    background-color: white;
    color: black;
}
.top-space{
    margin-top: .9rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 2rem;
}
.section-03{
    border-radius: 5px;
    padding: 0;
    background-color: #3b3b3b85;
    height:2.3rem;
}
.label-style{
    font-size: .8em;
    margin-bottom: -.1em;
}

.input_field {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
}
@media (max-width: 700px) {
    .input_field {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
    }
}
.two_part {
    display: flex;
    gap: .4rem;
}
@media (max-width: 700px) {
    .two_part {
        display: block;
    }
}
.wid{
    width: 100%;
}
.level-style{
    font-size: .9em;
    font-family: "Times New Roman";
    margin-bottom: -6px;
}
.background {
    background-color: #222222;
    border-radius: 15px;
    padding: 1px;
    text-align: left;
    margin-top: 10px;
    min-height: 15vh;
  }
  .dropdown-image{
    width: 1rem;
    background-image: url('http://127.0.0.1:8000/foods/small/1674023969.jpg');
  }
  .paginate_button{
    color: white;
    border: 1px solid white;
    padding: .5rem;
    border-radius: 5px;
    margin-right: .3rem;
    cursor: pointer;
}
.paginate_button:hover{
    background-color: white;
    color: black;
    border: 1px solid white;
    padding: .5rem;
    border-radius: 5px;
    margin-right: .3rem;
    cursor: pointer;
}
.emp-modal{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
}
  @media(max-width:780px){
    .emp-modal {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      margin-left: 15%;
      margin-right: 15%;
      border-radius: 10px;
    }
  }
  @media(max-width:450px){
    .emp-modal {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      margin-left: 1%;
      margin-right: 1%;
      border-radius: 10px;
    }
  }
  .table-style5{
    padding-left: 50%;
}
.close-btn {
    position: absolute;
    right: 21%;
    top:0;
    font-size: 2rem;
    color: rgb(206, 24, 100);
    background-color: none !important;
    cursor: pointer !important;
  }
  @media(max-width:780px) and (min-width:449px){
    .close-btn {
      position: absolute;
      right: 16%;
      top:0;
      font-size: 2rem;
      color: rgb(206, 24, 100);
      background-color: none !important;
      cursor: pointer !important;
    }
  }
  @media(max-width:450px){
    .close-btn {
      position: absolute;
      right: 3%;
      top:0;
      font-size: 2rem;
      color: rgb(206, 24, 100);
      background-color: none !important;
      cursor: pointer !important;
    }
  }
  .img-resize{
    border-radius: 150px;
  }
  .emp-style{
    padding-left: .7rem;
    padding-top: 1rem;
  }