.top-space{
    margin-top: .9rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 2rem;
}

.emp-modal{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
}
  @media(max-width:780px){
    .emp-modal {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      margin-left: 15%;
      margin-right: 15%;
      border-radius: 10px;
    }
  }
  @media(max-width:450px){
    .emp-modal {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      margin-left: 1%;
      margin-right: 1%;
      border-radius: 10px;
    }
  }
  .table-style5{
    padding-left: 50%;
}
.close-btn {
    position: absolute;
    right: 21%;
    top:0;
    font-size: 2rem;
    color: rgb(206, 24, 100);
    background-color: none !important;
    cursor: pointer !important;
  }
  @media(max-width:780px) and (min-width:449px){
    .close-btn {
      position: absolute;
      right: 16%;
      top:0;
      font-size: 2rem;
      color: rgb(206, 24, 100);
      background-color: none !important;
      cursor: pointer !important;
    }
  }
  @media(max-width:450px){
    .close-btn {
      position: absolute;
      right: 3%;
      top:0;
      font-size: 2rem;
      color: rgb(206, 24, 100);
      background-color: none !important;
      cursor: pointer !important;
    }
  }
  .img-resize{
    border-radius: 150px;
  }
  .emp-style{
    padding-left: .7rem;
    padding-top: 1rem;
  }