.food-image{
    width: 40%;
    height: 40%;
}
.item-border{
    padding: 2px;
    margin: 2px;
    border: .1px solid rgb(94, 94, 94);
    border-radius: 8PX;
}
.order-id{
    text-align: center;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 2p;
}