.res {
    color: red;
    font-style: italic;
    font-size: 1.3em;
    font-family: 'Monotype Corsiva';
    background-color: white;
}

.logo {
    width: 5em;
    position: absolute;
    top: 4rem;
}
@media (max-width: 800px){
    .logo {
        width: 3em;
        position: absolute;
        top: 4.5rem;
    }
}
@media (max-width: 700px){
    .logo {
        width: 5em;
        position: absolute;
        top: -2rem;
    }
}

.company_name {
    font-size: 1.3em;
    color: rgb(179, 179, 14);
    font-family: 'Gill Sans';
    text-align: center;
    margin-top: 6rem;
    font-weight: bold;
}

.background {
    background-color: white;
    padding-top: 7rem;
}

input[type=text],
input[type=password] {
    background-color: #ffffff85;
    color: black;
    border-radius: 7px;
    margin-top: .5rem;
}

input[type=text]:focus,
input[type=password]:focus {
    outline: 2px solid rgb(141, 113, 22);
    background-color: rgb(255, 255, 255);
}

.right-pic {
    width: 100%;
}
@media (max-width: 850px){
    .right-pic {
        width: 100%;
        padding-top: 8rem;
    }
}
@media (max-width: 950px){
    .right-pic {
        width: 100%;
        padding-top: 4rem;
    }
}
@media (max-width: 700px){
    .right-pic {
        display: none;
    }
}

.section-04 {
    display: flex;
}

@media (max-width: 700px){
    .section-04 {
        display: block;
    }
}

.space {
    margin-top: 1rem;
}

.forget {
    color: red;
    font-style: italic;
    font-family: Georgia;
    float: right;
}
::placeholder{
    font-style: italic;
    color: #000000;
}