.res {
    color: red;
    font-style: italic;
    font-size: 1.3em;
    font-family: 'Monotype Corsiva';
    background-color: transparent;
}

@media (max-width: 850px) and (min-width:750px) {
    .res {
        color: red;
        font-style: italic;
        font-size: 1em;
        font-family: 'Monotype Corsiva';
        background-color: transparent;
    }
}

.logo {
    width: 5em;
    position: absolute;
    top: 16%;
}

.logo2 {
    width: 5em;
    position: absolute;
    top: 16%;
    left: 36%;
}

@media (max-width: 990px) {
    .logo2 {
        width: 4em;
        position: absolute;
        top: 2rem;
        left: 4rem;
    }
}

@media (max-width: 850px) and (min-width:750px) {
    .logo2 {
        width: 3em;
        position: absolute;
        top: 2.7rem;
        left: 4.5rem;
    }
}

@media (max-width: 720px) {
    .logo2 {
        width: 5em;
        position: absolute;
        top: 20%;
        left: 42%;
    }
}

@media (max-width: 800px) {
    .logo {
        width: 3em;
        position: absolute;
        top: 4.5rem;
    }
}

@media (max-width: 700px) {
    .logo {
        width: 5em;
        position: absolute;
        top: -2rem;
    }
}

.company_name {
    font-size: 1.3em;
    color: rgb(179, 179, 14);
    font-family: 'Gill Sans';
    text-align: center;
    margin-top: 6rem;
    font-weight: bold;
}

@media (max-width: 850px) and (min-width:750px) {
    .company_name {
        font-size: 1em;
        color: rgb(179, 179, 14);
        font-family: 'Gill Sans';
        text-align: center;
        margin-top: 6rem;
        font-weight: bold;
    }
}

.background-log {
    background-color: white;
    padding-top: 7rem;
}

.background-2 {
    background-color: black;
    height: 70%;
}

.background-3 {
    background-color: black;
}

input[type=text],
input[type=password] {
    background-color: white;
    color: black;
    border-radius: 5px;
    margin-top: .5rem;
}

input[type=text]:focus,
input[type=password]:focus {
    outline: 1px solid rgb(141, 113, 22);
    background-color: rgb(255, 255, 255);
    font-size: 1em;
}

.right-pic {
    width: 100%;
}

.right-pic-2 {
    width: 100%;
    border-left: 5px solid white;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

@media (max-width: 750px) {
    .right-pic-2 {
        display: block !important;
        height:100%;
        width: 100%;
    }
}

@media (max-width: 950px) {
    .right-pic {
        width: 100%;
        padding-top: 4rem;
    }
}

@media (max-width: 850px) {
    .right-pic {
        width: 100%;
        padding-top: 8rem;
    }
}

@media (max-width: 700px) {
    .right-pic {
        display: none;
    }
}

.section-04 {
    display: flex;
}

@media (max-width: 800px) {
    .section-04 {
        display: block;
    }
}

.space {
    margin-top: 1rem;
}

.forget {
    color: red;
    font-style: italic;
    font-family: Georgia;
    float: right;
}

::placeholder {
    font-style: italic;
    color: #000000;
}

.input-sec {
    padding-top: 5rem;
    border-right: 5px solid white;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    margin-left: -.8rem;
}

@media(max-width:950px) {
    .input-sec {
        padding-top: 0rem;
    }
}

@media(max-width:750px) {
    .input-sec {
        padding-top: 5rem;
        border-style: none;
    }
}

#phone-style {
    border: none;
    color: black !important;
}

.new-sec {
    text-align: right;
}

img {
    vertical-align: middle;
    border-style: none;
}
.ftco-section {
    padding-top: 2rem;
}
.heading-section {
    font-size: 28px;
    color: #000;
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.wrap {
    width: 100%;
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.img,
.login-wrap {
    width: 50%;
}

@media (max-width: 991.98px) {
    .img,
    .login-wrap {
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    .wrap .img {
        height: 250px;
    }
}

.login-wrap {
    position: relative;
    background: #fff h3;
    background-font-weight: 300;
}

.form-group {
    position: relative;
}

.form-group .label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
    font-weight: 700;
}

.form-group a {
    color: gray;
}

.btn-class{
    font-size: 1.5em;
    height: 3rem;
}

.text-center {
    text-align: center ;
    color: red ;
}
.text-left {
    text-align: left ;
}
#field-style-2{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 50%;
    margin-left: 50%;
    display: flex;
    gap: 5%;
}

.sign-in{
    color: rgb(51, 50, 50);
}
  
.intl-tel-input {
display: table-cell;
}
.intl-tel-input .selected-flag {
z-index: 4;
}
.intl-tel-input .country-list {
z-index: 5;
}
.input-group .intl-tel-input {
border-top-left-radius: 4px;
border-top-right-radius: 0;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 0;
}

.border-22{
border: 1px solid rgb(61, 60, 60) !important;
background-color: white !important;
border-radius: 5px;
margin-top: 9px;
height: 2.5rem;

}
.border-22:focus{
border: 1px solid black !important;
outline: 1px solid rgb(1, 61, 16);
transform: scale(1.05);
}
.recapcha{
margin-bottom: 2px;
width: 100%;
height: 1rem;
}
