
.add-btn{
  margin-left: 2rem;
  margin-top: .3rem;
}
.icon-delete{
  background-color: red;
  color: white;
  font-size: 1.4rem;
  border-style: none;
  border-radius: 5px;
  margin-top: 1.5rem;
}
.table-style5{
  padding-left: 50%;
}

.res2 {
  color: red;
  font-style: italic;
  font-size: 1em;
  font-family: 'Monotype Corsiva';
  background-color: white;
}

.logo2 {
  width: 6em;
  padding-left: 2.5rem;
  margin-top: 2rem;
}

.company_name2 {
  font-size: 1.3em;
  color: rgb(179, 179, 14);
  font-family: 'Gill Sans';
  text-align: center;
  font-weight: bold;
}
.border-box{
  border: 2px dashed #90AADB;
  height: auto;
  width: auto;
  margin-top: 1.9rem;
  margin-left: .7rem;
  padding: .3rem;
}

.border-box2{
  border: 2px dashed #90AADB;
  height: auto;
  width: auto;
  margin-left: .7rem;
  padding: .3rem;
}

.border-box3{
  border: 2px dashed #90AADB;
  width: auto;
  height:2.4rem;
  margin-left: .7rem;
  padding: .3rem;
}

.invoice{
  border: 2px dashed #90AADB;
  padding-right: 6rem;
}

.invoice-2{
  margin-top: 3rem;
}

.line-style{
border: 1.5px solid rgb(0, 0, 0) !important;
margin-left: 5%;
margin-right: 5%;
}

.icon-color{
  color: rgb(0, 0, 0);
}

.position{
  position:relative;
  right: 0;
}

.modal-table{
  padding: 1rem;
}

#inp{
  background-color: white;
  color: black;
}