.btn-section {
    display: flex;
}

@media (max-width: 700px) {
    .btn-section {
        display: block;
    }
}

.btn-style {
    position: absolute;
    right: 2rem;
}

@media (max-width: 700px) {
    .btn-style {
        position: inherit;
        right: 2rem;
        top: 1rem;
    }
}

@media (max-width: 450px) {
    .btn-style {
        position: inherit;
        left: 2rem;
        border-radius: 5px;
        top: 4rem;
    }
}

.area {
    background-color: #00000085;
    border-radius: 4px;
}

.area:focus {
    outline: 1px solid rgb(1, 61, 16);
    background-color: white;
    color: black;
}

.area:hover {
    background-color: white;
    color: black;
}

.input_field {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
}

@media (max-width: 700px) {
    .input_field {
        margin-left: .2rem;
        margin-right: .2rem;
        margin-top: .5rem;
    }
}

.background {
    background-color: #222222;
    border-radius: 15px;
    padding: 1px;
    text-align: left;
    margin-top: 10px;
    min-height: 15vh;
}

.label-style {
    font-size: .8em;
    margin-bottom: -.1em; 
}

.wid {
    width: 100%;
}

select {
    background-color: #00000085;
    border-radius: 5px;
    border: none;
    height: 2.3rem;
    color: white;
    width: 100%;
    border: .1px solid rgb(68, 67, 67);
}

select:focus {
    outline: 1px solid rgb(1, 61, 16);
    background-color: white;
    color: black;
}

select:hover {
    background-color: white;
    color: black;
}

input[type=text],
input[type=number],
input[type=date],
input[type=search],
input[type=time],
input[type=email] {
    background-color: #00000085;
    border-radius: 4px;
    width: 100%;
    border: .1px solid rgb(68, 67, 67);
}

input[type=text]:focus,
input[type=email]:focus,
input[type=date]:focus,
input[type=search]:focus,
input[type=time]:focus,
input[type=number]:focus {
    outline: 1px solid rgb(1, 61, 16);
    background-color: white;
    border-radius: 4px;
    text-align: left;
}

input[type=text]:hover,
input[type=email]:hover,
input[type=search]:hover,
input[type=date]:hover,
input[type=time]:hover,
input[type=number]:hover {
    background-color: white;
    color: black;
}
.two_part {
    display: flex;
    gap: .4rem;
}
@media (max-width: 700px) {
    .two_part {
        display: block;
    }
}

.top-space {
    margin-top: .8rem;
    margin-left: 2rem;
}

@media (max-width:700px) {
    .top-space {
        margin-top: 1rem;
        margin-left: .4rem;
    }
}

.paginate_button {
    color: white;
    border: 1px solid white;
    padding: .5rem;
    border-radius: 5px;
    margin-right: .3rem;
    cursor: pointer;
}

.paginate_button:hover {
    background-color: white;
    color: black;
    border: 1px solid white;
    padding: .5rem;
    border-radius: 5px;
    margin-right: .3rem;
    cursor: pointer;
}
::placeholder{
    color: rgb(160, 159, 159);
}
h3{
    text-align: center;
    font-family: 'Edwardian Script ITC';
    font-style: italic;
    font-weight: bold;
    font-size: 3rem;
}
h1{
    text-align: center;
    font-family: 'Courgette';
    font-style: italic;
    font-weight: bold;
    font-size: 3rem;
    padding-top:2rem;
}