.background {
    background-color: #161616;
    border-radius: 15px;
    padding: 1px;
    text-align: left;
    margin-top: 10px;
    min-height: 15vh;
}
.btn_style_active {
    background-color: #113069;
    border-radius: 8px;
    margin: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 2rem;
}

.btn_style_inactive {
    background-color: #1f3049;
    border-radius: 8px;
    margin: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 2rem;
}
.icon2 {
    color: white;
    padding-left: 3rem;
    font-family: 'Times New Roman';
}
@media (max-width: 900px) {
    .icon2 {
        color: white;
        padding-left: 1rem;
        font-family: 'Times New Roman';
    }
}

.text_style {
    color: white;
    text-align: center;
}
.space{
    padding-top: 1rem;
}
.icon-space{
    padding-right: .5rem;
}
.left-space{
padding-left: 1rem;
}
.top-space{
    margin-top: 1rem;
    margin-left: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.level-style{
    font-size: .9em;
    font-family: "Times New Roman";
    margin-bottom: -6px;
}
.section-22{
    margin: 1.1rem;
}